<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="help.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%de.babe.eclipse.plugins.QuickREx"
            id="de.babe.eclipse.plugins.QuickREx"/>
      <view
            class="de.babe.eclipse.plugins.quickREx.views.QuickRExView"
            icon="icons/plugin.gif"
            category="de.babe.eclipse.plugins.QuickREx"
            name="%de.babe.eclipse.plugins.quickREx.views.QuickRExView"
            id="de.babe.eclipse.plugins.quickREx.views.QuickRExView"/>
      <view
            class="de.babe.eclipse.plugins.quickREx.views.RELibraryView"
            icon="icons/plugin.gif"
            category="de.babe.eclipse.plugins.QuickREx"
            name="%de.babe.eclipse.plugins.quickREx.views.RELibraryView"
            id="de.babe.eclipse.plugins.quickREx.views.RELibraryView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               id="de.babe.eclipse.plugins.quickREx.views.QuickRExView"/>
         <view
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               id="de.babe.eclipse.plugins.quickREx.views.RELibraryView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            isEditable="true"
            defaultsTo="org.eclipse.jface.dialogfont"
            label="%de.babe.eclipse.plugins.QuickREx.textfontDefinition"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.textfontDefinition">
         <description>
            %de.babe.eclipse.plugins.QuickREx.textfontDefinition.description
         </description>
      </fontDefinition>
      <colorDefinition
            value="COLOR_YELLOW"
            isEditable="true"
            label="%de.babe.eclipse.plugins.QuickREx.matchBgColor"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.matchBgColor">
         <description>
            %de.babe.eclipse.plugins.QuickREx.matchBgColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            value="COLOR_BLACK"
            isEditable="true"
            label="%de.babe.eclipse.plugins.QuickREx.matchFgColor"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.matchFgColor">
         <description>
            %de.babe.eclipse.plugins.QuickREx.matchFgColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            value="COLOR_GREEN"
            isEditable="true"
            label="%de.babe.eclipse.plugins.QuickREx.currentMatchBgColor"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.currentMatchBgColor">
         <description>
            %de.babe.eclipse.plugins.QuickREx.currentMatchBgColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            value="COLOR_BLACK"
            isEditable="true"
            label="%de.babe.eclipse.plugins.QuickREx.currentMatchFgColor"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.currentMatchFgColor">
         <description>
            %de.babe.eclipse.plugins.QuickREx.currentMatchFgColor.description
         </description>
      </colorDefinition>
      <colorDefinition
            value="COLOR_INFO_BACKGROUND"
            isEditable="true"
            label="%de.babe.eclipse.plugins.QuickREx.notEvaluatedBgColor"
            categoryId="de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.notEvaluatedBgColor">
         <description>
            %de.babe.eclipse.plugins.QuickREx.notEvaluatedBgColor.description 
         </description>
      </colorDefinition>
      <themeElementCategory
            label="%de.babe.eclipse.plugins.QuickREx.themeElementCategory"
            id="de.babe.eclipse.plugins.QuickREx.themeElementCategory">
         <description>
            %de.babe.eclipse.plugins.QuickREx.themeElementCategory.description
         </description>
      </themeElementCategory>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.babe.eclipse.plugins.quickREx.editors.RELibraryEntryEditor"
            icon="icons/regExp.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            name="%de.babe.eclipse.plugins.quickREx.editors.RELibraryEntryEditor"
            id="de.babe.eclipse.plugins.quickREx.editors.RELibraryEntryEditor"
            extensions="rex"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.babe.eclipse.plugins.quickREx.wizardCategory"
            name="%de.babe.eclipse.plugins.quickREx.wizardCategory"/>
      <wizard
            category="de.babe.eclipse.plugins.quickREx.wizardCategory"
            class="de.babe.eclipse.plugins.quickREx.wizards.NewREBookWizard"
            icon="icons/book.gif"
            id="de.babe.eclipse.plugins.quickREx.wizards.NewREBookWizard"
            name="%de.babe.eclipse.plugins.quickREx.wizards.NewREBookWizard">
         <description>
         	%de.babe.eclipse.plugins.quickREx.wizards.NewREBookWizard.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="de.babe.eclipse.plugins.quickREx.factories.RELibraryEntryFactory"
            id="de.babe.eclipse.plugins.quickREx.factories.RELibraryEntryFactory"/>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="de.babe.eclipse.plugins.quickREx.search.RESearchResultViewPage"
            id="de.babe.eclipse.plugins.quickREx.search.RESearchResultViewPage"
            searchResultClass="de.babe.eclipse.plugins.quickREx.search.RESearchResult"/>
   </extension>

</plugin>
